.souko_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* ボタン間の間隔 */
}

.selected_souko {
    background-color: #007bff !important;
    /* 選択されたボタンの背景色 */
    color: #fff;
    /* 選択されたボタンのテキスト色 */
}

.souko_box button {
    width: 100%;
    /* ボタンの幅を100%に */
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.souko_box button:hover {
    background-color: #ddd;
}

#syuka_day {
    border-bottom: 3px solid #ccc;font-weight: 600;
    font-size: 1.12em;width: 50%;  
}

#next_btn {
    text-align: center;
}

#next_btn > button{
    background-color: #3498db;
        color: #fff;
        padding: 20px 50px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 2.2em 0 0 0;
        font-size: 1.12em;
}
