/* ====== スマホ ====== */
@media only screen and (max-width: 1500px) {

    .souko_box {
        display: flex;
        width: 95%;
    }

    .souko_box > div:nth-child(1) {
                    width: 45%;
    }

    .souko_box > div:nth-child(2) {
        width: 45%;
    }

    .souko_box>div:nth-child(1) > button {
        width: 95%;height: 5em;margin: 0 0 20px 0;
    }

    .souko_box>div:nth-child(2) > button {
        width: 95%;height: 5em;margin: 0 0 20px 0;
    }



}
/* ===================================== メディアクエリ END =================== */