
/* スマホ */
@media only screen and (max-width: 768px) {

            .souko_box_v {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px;
                    /* ボタン間の間隔 */
                }
            
                .selected_souko_v {
                    background-color: #007bff !important;
                    /* 選択されたボタンの背景色 */
                    color: #fff;
                    /* 選択されたボタンのテキスト色 */
                }
            
                .souko_box_v button {
                    width: 100%;
                    /* ボタンの幅を100%に */
                    padding: 10px;
                    font-size: 16px;
                    border: none;
                    background-color: #6d6666;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                }
            
                .souko_box_v button:hover {
                    background-color: #ddd;
                }

            /* ドロップダウンメニューのスタイル */
                .dropdown_v {
                    position: relative;
                    display: inline-block;
                    margin-right: 10px;
                }
            
                .dropdown-content_v {
                    display: none;
                    position: absolute;
                    background-color: #c47e7e;
                    min-width: 160px;
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                    padding: 12px 16px;
                    z-index: 1;
                }
            
                .dropdown-content_v button {
                    width: 100%;
                    padding: 8px 0;
                    text-align: left;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
            
                .dropdown-content_v button:hover {
                    background-color: #ddd;
                }
            
                /* ボタンのスタイル */
                .dropbtn_v {
                    background-color: #4CAF50;
                    color: white;
                    padding: 16px;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                }
            
                .dropbtn_v:hover,
                .dropbtn_v:focus {
                    background-color: #3e8e41;
                }
            
                /* 選択した値を表示する部分のスタイル */
                .selected-value {
                    margin-top: 20px;
                }
                
                /* 次へボタンのスタイル */

                #sendSelectedValues_box{
                    text-align: center;
                }

                #sendSelectedValues {
                    background-color: #3498db;
                    color: #fff;
                    padding: 20px 50px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    margin: 1.2em 0 4em 0;
                    font-size: 1.12em;
                }
            
                #sendSelectedValues:hover {
                    background-color: #45a049;
                }

                

}